.form-group
  %span.help-block= 'What kind of job opportunities are you looking for? '
  = form.check_box :job_opportunities_development, data: {behavior: "job-opportunities-click"}
  = form.label :job_opportunities_development, 'Software development',  class: 'inline'
.form-group
  = form.check_box :job_opportunities_design, data: {behavior: "job-opportunities-click"}
  = form.label :job_opportunities_design, 'Design',  class: 'inline'
.form-group
  = form.check_box :job_opportunities_other, data: {behavior: "job-opportunities-click"}
  = form.label :job_opportunities_other, 'Other roles',  class: 'inline'

.software-development-tags
  .form-group
    %span.help-block= 'Software Developers: what language do you know?'
    = form.check_box :tag_list, {multiple: true}, 'SQL'
    = form.label :tag_list, 'SQL', class: 'inline', value: 'SQL'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Java'
    = form.label :tag_list, 'Java', class: 'inline', value: 'Java'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'JavaScript'
    = form.label :tag_list, 'JavaScript', class: 'inline', value: 'JavaScript'
  .form-group
    %label{class: 'inline', value: 'C#'}
      = form.check_box :tag_list, {multiple: true}, 'C#'
      C#
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Python'
    = form.label :tag_list, 'Python', class: 'inline', value: 'Python'
  .form-group
    %label{class: 'inline', value: 'C++'}
      = form.check_box :tag_list, {multiple: true}, 'C++'
      C++
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'PHP'
    = form.label :tag_list, 'PHP', class: 'inline', value: 'PHP'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Objective-C'
    = form.label :tag_list, 'Objective-C', class: 'inline', value: 'Objective-C'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Ruby'
    = form.label :tag_list, 'Ruby', class: 'inline', value: 'Ruby'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Swift'
    = form.label :tag_list, 'Swift', class: 'inline', value: 'Swift'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Go'
    = form.label :tag_list, 'Go', class: 'inline', value: 'Go'


.form-group.design-tags
  .form-group
    %span.help-block= 'Designers: what specialties do you have?'
    = form.check_box :tag_list, {multiple: true}, 'HTML'
    = form.label :tag_list, 'HTML', class: 'inline', value: 'HTML'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'CSS'
    = form.label :tag_list, 'CSS', class: 'inline', value: 'CSS'
  .form-group
    %label{class: 'inline', value: 'JavaScript'}
      = form.check_box :tag_list, {multiple: true}, 'JavaScript'
      JavaScript
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'jQuery'
    = form.label :tag_list, 'jQuery', class: 'inline', value: 'jQuery'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Git'
    = form.label :tag_list, 'Git', class: 'inline', value: 'Git'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Angular.js'
    = form.label :tag_list, 'Angular.js', class: 'inline', value: 'Angular.js'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Ember.js'
    = form.label :tag_list, 'Ember.js', class: 'inline', value: 'Ember.js'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'React.js'
    = form.label :tag_list, 'React.js', class: 'inline', value: 'React.js'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Backbone.js'
    = form.label :tag_list, 'Backbone.js', class: 'inline', value: 'Backbone.js'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'SASS'
    = form.label :tag_list, 'SASS', class: 'inline', value: 'SASS'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'SCSS'
    = form.label :tag_list, 'SCSS', class: 'inline', value: 'SCSS'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Less'
    = form.label :tag_list, 'Less', class: 'inline', value: 'Less'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Graphic design'
    = form.label :tag_list, 'Graphic design', class: 'inline', value: 'Graphic design'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'UX design'
    = form.label :tag_list, 'UX design', class: 'inline', value: 'UX design'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'UI design'
    = form.label :tag_list, 'UI design', class: 'inline', value: 'UI design'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Interaction design'
    = form.label :tag_list, 'Interaction design', class: 'inline', value: 'Interaction design'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Information architecture'
    = form.label :tag_list, 'Information architecture', class: 'inline', value: 'Information architecture'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Motion graphics'
    = form.label :tag_list, 'Motion graphics', class: 'inline', value: 'Motion graphics'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Animator'
    = form.label :tag_list, 'Animator', class: 'inline', value: 'Animator'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Illustrator'
    = form.label :tag_list, 'Illustrator', class: 'inline', value: 'Illustrator'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Art director'
    = form.label :tag_list, 'Art director', class: 'inline', value: 'Art director'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Branding & Identity'
    = form.label :tag_list, 'Branding & Identity', class: 'inline', value: 'Branding & Identity'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Print design'
    = form.label :tag_list, 'Print design', class: 'inline', value: 'Print design'

.other-tags
  .form-group
    %span.help-block= 'Other roles you''re interested in'
    = form.check_box :tag_list, {multiple: true}, 'Customer Support'
    = form.label :tag_list, 'Customer Support', class: 'inline', value: 'Customer Support'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Project management'
    = form.label :tag_list, 'Project management', class: 'inline', value: 'Project management'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Copywriting'
    = form.label :tag_list, 'Copywriting', class: 'inline', value: 'Copywriting'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Product management'
    = form.label :tag_list, 'Product management', class: 'inline', value: 'Product management'
  .form-group
    = form.check_box :tag_list, {multiple: true}, 'Marketing'
    = form.label :tag_list, 'Marketing', class: 'inline', value: 'Marketing'


- content_for :js do
  :javascript

    $(document).ready(function() {
      var softwareDevelopmentSection = $('.software-development-tags');
      var otherSection = $('.other-tags');
      var designSection = $('.design-tags');

      var softwareDevelopmentCheckbox = $('#person_job_opportunities_development');
      var otherCheckbox = $('#person_job_opportunities_other');
      var designCheckbox = $('#person_job_opportunities_design');

      function update(skill) {
        softwareDevelopmentCheckbox.is(':checked') ? softwareDevelopmentSection.show() : softwareDevelopmentSection.hide();
        otherCheckbox.is(':checked') ? otherSection.show() : otherSection.hide();
        designCheckbox.is(':checked') ? designSection.show() : designSection.hide();
      }

      $('input[type="checkbox"][data-behavior="job-opportunities-click"]').click(function(evt) {
        update();
      });

      update();
    });
